nav {
	display: flex;
	justify-content: center;
	background-color: #2980b9;
	color: #ecf0f1;
	margin: 0;
	@media screen and (max-width: 620px) {
		justify-content: flex-start;
	}
	.title {
		text-align: center;
		margin: 0;
		padding: 1rem;
		font-size: 2.4rem;
		max-width: 65vw;
		@media screen and (max-width: 460px) {
			font-size: 1.5rem;
		}
	}
	position: relative;
	.logout button {
		padding-inline: 2rem;
		color: black;
		max-width: 10rem;
	}
	button {
		position: absolute;
		padding: 0;
		margin: 0;
		right: 0;
		top: 0;
		height: 100%;
		border: none;
		background-color: $clr-light-1;
		a {
			color: $font-color-dark;
			text-decoration: none;
			display: grid;
			place-items: center;
			width: 100%;
			height: 100%;
			padding-inline: 2rem;
			box-sizing: border-box;
		}
	}
}