
<div id="controls">
  <div class="location_inputs">
    <select id="country">
      <option value="all">All</option>
      <option value="au">Australia</option>
      <option value="br">Brazil</option>
      <option value="ca">Canada</option>
      <option value="fr">France</option>
      <option value="de">Germany</option>
      <option value="mx">Mexico</option>
      <option value="nz">New Zealand</option>
      <option value="it">Italy</option>
      <option value="za">South Africa</option>
      <option value="es">Spain</option>
      <option value="pt">Portugal</option>
      <option value="us" selected>U.S.A.</option>
      <option value="uk">United Kingdom</option>
    </select>
    <input id="autocomplete" placeholder="Enter a city" type="text" />

    <input id="keyword" placeholder="Enter a keyword" type="text">
  </div>
  
  <button class="toggle-dropdown">Show Filters <i class="toggle-icon fas fa-plus"></i></button>
  <div id="filters">
  </div>
  <script src="../scripts/filters.js"></script>

  <button onclick="search()" class="search-btn">Search</button>
</div>