<div class="modal-container">
  <div class="modal">
    <div class="modal-content">
      <h1 class="modal-title">Warning!</h1>
      <p class="modal-message"></p>
      <div class="modal-buttons">
        <button class="modal-btn" onClick="hideModal();">Close</button>
        <button class="modal-btn primary-btn"><a href="" class="primary"></a></button>
      </div>
    </div>
  </div>
</div>

<script src="../scripts/modal.js"></script>