<nav>
    <h1 class="title">Vacation Search</h1>
    <form class="logout" action="/api/v1/user/logout" method="post">
        <button type="submit" class="logoutBtn">Logout</button>
    </form>
    <button><a class="login" href="/login">Login</a></button>
</nav>
