body,
html {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button {
	cursor: pointer;
}
.title {
	background-color: #2980b9;
	color: #ecf0f1;
	text-align: center;
	margin: 0;
	padding: 1rem;
  font-size: 2.4rem;
}
.mapContainer {
	display: flex;
  max-width: 1250px;
	justify-content: space-between;
	background-color: #bdc3c7;
	padding: 0;
  margin: 0 auto;
  margin-top: 2rem;
  border-block: 1px solid #2c3e50;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}
.saved {
	display: flex;
	flex-direction: column;
  align-items: center;
	width: 100%;
  margin: 0 1rem;
  * {
    max-width: 640px;
    width: 100%;
  }
}
.saved h3 {
	margin: 0;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid black;
}
.savedPlace {
	display: flex;
	justify-content: space-between;
}
.savedPlace button {
	height: max-content;
	margin: auto 0;
	padding: 0.5rem 1rem;
}
.savedPlace a {
	text-decoration: none;
	color: black;
	height: max-content;
	margin: auto 0;
}
.savedPlace .close-btn {
	background: none;
	border: none;
	cursor: pointer;
	color: #e74c3c;
}
#map {
	margin-top: 40px;
	width: 40rem;
	height: 25rem;
	flex-shrink: 0;
	margin: 0;
}

#controls {
	display: flex;
	flex-direction: column;
	width: 550px;
	margin: 1rem auto;
}
#controls .location_inputs {
	display: flex;
	justify-content: space-between;
}

#controls .location_inputs input,
#controls .location_inputs select {
	font-size: 1.5rem;
  padding: 0 .25rem;
  height: 100%;
}

#controls #filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	max-width: 550px;
	margin: 1rem auto;

  transform-origin: top;
  transition: all 200ms ease, opacity 100ms linear;

  height: 0;
  opacity: 0;
  transform: scaleY(0);
  &.open {
    transition: all 200ms ease, opacity 300ms linear;
    height: 191px;
    opacity: 1;
    transform: scaleY(1);
  }
}

#controls #filters .filter {
	width: 30%;
	display: flex;
	justify-content: space-between;
  align-items: center;
  label {
    width: 100%;
  }
	/* margin: 0.5rem; */
}

#controls button {
  display: flex;
  align-items: center;
  gap: .5rem;
	width: max-content;
	margin-right: auto;
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  i {
    font-size: 1rem;
  }
  &.search-btn {
    font-size: 1.25rem;
    display: block;
    margin: 0;
    padding: 0.5rem 3rem;
    width: 100%;
    background-color: #27ae60;
    color: white;
    border-radius: .25rem;
  }
}

.results {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: max-content;
}
.place {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	padding: 0 0.5rem;
	cursor: pointer;
}
.place:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.place img {
	width: 1.5rem;
}
.place p {
	margin-left: auto;
}
.place button {
	/* margin-left: auto; */
	padding: 0.5rem 2rem;
}

.results-container {
	min-height: 200px;
	background-color: #ecf0f1;
	display: flex;
	flex-direction: column;
}

.results-container > button {
	padding: 0.5rem 3rem;
	margin: 1rem;
	margin-left: auto;
}
footer {
	margin: 0;
	background-color: #2c3e50;
}
footer p {
	text-align: center;
	margin: 0;
	padding: 0.5rem;
	color: #ecf0f1;
}

@media screen and (max-width: 1024px) {
  .mapContainer {
    gap: 1rem;
  }
  #map {
    margin-inline: auto;
  }
  .saved {
    min-height: 150px;
    margin: 0;
  }
}