body,
html {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button {
	cursor: pointer;
}
.mapContainer {
	display: flex;
  max-width: 1250px;
	justify-content: space-between;
	background-color: #bdc3c7;
	padding: 0;
  margin: 0 auto;
  margin-top: 2rem;
  border-block: 1px solid #2c3e50;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}
.saved {
	display: flex;
	flex-direction: column;
  align-items: center;
	width: 100%;
  margin: 0 1rem;
  * {
    max-width: 640px;
    width: 100%;
		text-align: center;
  }
}
.saved h3 {
	margin: 0;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid black;
}
.savedPlace {
	display: flex;
	justify-content: space-between;
}
.savedPlace button {
	height: max-content;
	margin: auto 0;
	padding: 0.5rem 1rem;
}
.savedPlace a {
	text-decoration: none;
	color: black;
	height: max-content;
	margin: auto 0;
}
.savedPlace .close-btn {
	width: 48px;
	font-size: 1.5rem;
	background: none;
	border: none;
	cursor: pointer;
	color: #e74c3c;
}
.warning-text {
	text-align: center;
}
#map {
	margin-top: 40px;
	width: 40rem;
	max-width: 100%;
	height: 25rem;
	flex-shrink: 0;
	margin: 0;
}

#controls {
	display: flex;
	flex-direction: column;
	width: 550px;
	max-width: 90vw;
	margin: 1rem auto;
}
#controls .location_inputs {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#controls .location_inputs input,
#controls .location_inputs select {
	font-size: 1.5rem;
  padding: 0 .25rem;
  height: 100%;
	// margin-inline: auto;
	&#keyword {
		margin-top: 1rem;
		width: 100%;
	}
	@media screen and (max-width: 545px) {
		margin-block: .5rem;
		width: 100%;
	}
}

#controls #filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	max-width: 550px;
	margin: 1rem auto;

  transform-origin: top;
  transition: all 200ms ease, opacity 100ms linear;

  height: 0;
  opacity: 0;
  transform: scaleY(0);
  &.open {
    transition: all 200ms ease, opacity 300ms linear;
    height: 191px;
    opacity: 1;
    transform: scaleY(1);
		@media screen and (max-width: 768px) {
		height: 293.5px;
		}
		@media screen and (max-width: 444px) {
			height: 603px;
		}
  }
}

#controls #filters .filter {
	width: 30%;
	display: flex;
	justify-content: space-between;
  align-items: center;
  label {
    width: 100%;
  }
	@media screen and (max-width: 768px) {
		width: 48%;
	}
	@media screen and (max-width: 444px) {
		width: 98%;
	}
	/* margin: 0.5rem; */
}

#controls button {
  display: flex;
  align-items: center;
  gap: .5rem;
	width: max-content;
	margin-right: auto;
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  i {
    font-size: 1rem;
  }
  &.search-btn {
    font-size: 1.25rem;
    display: block;
    margin: 0;
    padding: 0.5rem 3rem;
    width: 100%;
    background-color: #27ae60;
    color: white;
    border-radius: .25rem;
  }
}

.place:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.place img {
	width: 1.5rem;
}
.place p {
	margin-left: auto;
}
.place button {
	/* margin-left: auto; */
	padding: 0.5rem 2rem;
}

.results-container {
	min-height: 200px;
	max-width: 100vw;
	background-color: #ecf0f1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	.results {
		width: 100%;
		display: flex;
		justify-content:space-around;
		flex-wrap: wrap;
		// flex-direction: column;
		// gap: 2rem;
		// width: max-content;
		
		@media screen and (max-width: 1024px) {
			// width: 100%;
		}
		.place {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: calc(50% - 2rem);
			padding-inline: 1rem;
			gap: 1rem;
			// padding: 0 0.5rem;
			cursor: pointer;
			@media screen and (max-width: 1024px) {
				width: 80%;
				justify-content:center;
			}
		}
	}
}

.results-container .clear-buttons {
	display: flex;
	width: 550px;
	max-width: 100%;
	margin-inline: auto;
	justify-content: center;
	button {
		padding: 0.5rem 3rem;
		margin: 1rem;
		// margin-left: auto;
	}
}
footer {
	margin: 0;
	background-color: #2c3e50;
}
footer p {
	text-align: center;
	margin: 0;
	padding: 0.5rem;
	color: #ecf0f1;
}

@media screen and (max-width: 1024px) {
  .mapContainer {
    gap: 1rem;
  }
  #map {
    margin-inline: auto;
		margin-top: 2rem;
  }
  .saved {
    min-height: 150px;
    margin: 0;
  }
}